/* #212121 заголовки
#757575 текст р
#2196F3 кнопка в герое ссылки ховер часть лого
#FFFFFF адрес в футере, н1 в герое, кнопки в ховере лого в футере
#000000 лого в навигации

E5E5E5  основной почти белый секция особенности и все портфолио
F5F4FA наша команда 
2F303A герой и футер 
FFFFFF навигация ;*/

:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

/* body */
.body {
  /* убрать 8 px марджина авто от браузера
  margin: 0 не нужно потому что есть normolise css */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*  убрать точки у списков, сброс отступов */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--primary-white-color);
}

.main-nav {
  display: flex;
  align-items: center;
}
/* logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-primary {
  color: var(--accent-color);
}
.logo-secondary {
  color: #000000;
}
.logo-tertiary {
  color: var(--primary-white-color);
}

/* подсветка активной страницы ??? */
.nav-link.current {
  color: var(--accent-color);
}

/* навигация */

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.nav-address {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

/* дай отступ соседу. при добавлении кнопок не нужно будет редактировать что-то типа last child */
.nav-address .item + .item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link,
.logo {
  color: var(--titel-text-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-mail,
.nav-tel {
  color: inherit;
  text-decoration: none;
}

.nav-mail:hover,
.nav-mail:focus,
.nav-tel:hover,
.nav-tel:focus {
  color: #2196f3;
}

/* секция герой */

.hero {
  text-align: center;
}

.hero-titel {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero,
.footer {
  background-color: #2f303a;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  /* font-family: inherit что бы кнопка наследовало */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  min-width: 200px;
  text-align: center;
}
.hero-btn:hover {
  background-color: #188ce8;
}

/* секция особенности */
.peculiarities-titel {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titel-text-color);
}

.peculiarities-list {
  display: flex;
}

.peculiarities-disc {
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

.container-peculiariries {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.disc-titel {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.container-discription {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}

/* секция наша команда */
.team {
  background-color: #f5f4fa;
}
.container-team {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 186px;
  padding-bottom: 94px;
}

.team-titel {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
  margin: 0;
}

/* заголовки h2 */
.disc-titel,
.team-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-titel,
.team-name,
.heading-title,
.disc-titel {
  color: var(--titel-text-color);
}

/* портфолио фильтр кнопки */

.container-filters {
  margin-bottom: 34px;

  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.filters {
  display: flex;
}

.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--titel-text-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  min-width: 73px;
  max-width: 145px;
  text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* убрать подчеркивание */
.project-link,
.footer-maps {
  text-decoration: none;
}

.container-examples {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  outline: 2px solid red;
}

.project-list {
  margin-right: 0px;
  width: calc((100%-60px) / 3);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

/* .projects:nth-child(3n) {
  margin-right: 0;
}

.projects:nth-child(-n + 3) {
  margin-right: 0;
} */

.portfolio-title {
  margin: 0;
  padding-bottom: 20px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
}

.heading-title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* футер для двух страниц */
.footer-address {
  font-style: normal;
}

.footer-list {
  list-style: none;
}
.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-maps {
  color: var(--primary-white-color);
}
.footer-maps:hover,
.footer-maps:focus {
  color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero,
.container,
.container-peculiariries,
.container-team {
  outline: 2px solid red;
}
