/* #212121 заголовки
#757575 текст р
#2196F3 кнопка в герое ссылки ховер часть лого
#FFFFFF адрес в футере, н1 в герое, кнопки в ховере лого в футере
#000000 лого в навигации

E5E5E5  основной почти белый секция особенности и все портфолио
F5F4FA наша команда 
2F303A герой и футер 
FFFFFF навигация ;*/

:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

/* body */
.body {
  /* убрать 8 px марджина авто от браузера
  margin: 0 не нужно потому что есть normolise css */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*  убрать точки у списков, сброс отступов */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* скрыть заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-primary {
  color: var(--accent-color);
}
.logo-secondary {
  color: #000000;
}
.logo-tertiary {
  color: var(--primary-white-color);
}

/* подсветка активной страницы ??? */
.nav-link.current {
  color: var(--accent-color);
}

/* навигация */

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.nav-address {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

/* дай отступ соседу. при добавлении кнопок не нужно будет редактировать что-то типа last child */
.nav-address .item + .item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link,
.logo {
  color: var(--titel-text-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-mail,
.nav-tel {
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  text-decoration: none;
}

.nav-mail:hover,
.nav-mail:focus,
.nav-tel:hover,
.nav-tel:focus {
  color: #2196f3;
}

/* секция герой */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-titel {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  /* padding-bottom: 30px; */
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero,
.footer {
  background-color: #2f303a;
}

.hero-btn {
  padding: 10px 32px;

  /* font-family: inherit что бы кнопка наследовало */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  text-align: center;
}
.hero-btn:hover {
  background-color: #188ce8;
}

/* секция особенности */
.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-titel {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titel-text-color);
}

.peculiarities-list {
  display: flex;
}

.peculiarities-item {
  width: 270px;
  margin-right: 30px;
}

.peculiarities-item:nth-child(4n) {
  margin-right: 0px;
}
/* .peculiarities-item. .items + .items {
  margin-right: 0px;
} */

.peculiarities-disc {
  margin: 0;
  padding: 0;
  width: 270;
  line-height: 1.7;
}

.container-peculiariries {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* секция чем мы занимаемся */

.discription {
  padding-bottom: 94px;
}

.container-discription {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.disc-titel {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  text-align: center;
}

.disc-list {
  display: flex;
}

.disc-item {
  margin-right: 30px;
}

.disc-item:last-child {
  margin-right: 0;
}

.disc-picture {
  display: inline-block;
}

img {
  display: block;
}

/* секция наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.container-team {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.team-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0px;
}

.team-titel {
  margin: 0;
  padding: 0;

  margin-bottom: 50px;
  text-align: center;
}

.team-name {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-photo {
  display: block;
}

/* заголовки h2 */
.disc-titel,
.team-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-titel,
.team-name,
.heading-title,
.disc-titel {
  color: var(--titel-text-color);
}

/* портфолио фильтр кнопки */

.container-filters {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-btn {
  padding: 6px 22px;
  border: none;
  min-width: 73px;
  max-width: 145px;
  text-align: center;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--titel-text-color);
  cursor: pointer;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:nth-child(5n) {
  margin-right: 0px;
}

/* портфолио список  */

.main-lists {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* убрать подчеркивание */
.project-link,
.footer-maps {
  text-decoration: none;
}

.project-list {
  font-weight: 370px;
  /* margin-right: 30px; */
  margin-bottom: 30px;
  width: calc((100%-60px) / 3);
}
.projects {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  margin: 0px;
}

/* .project-list:nth-child(3n) {
  margin-right: 0;
} */

/* .projects:nth-child(-n + 3) {
  margin-right: 0;
} */

.container-projects {
  font-weight: 370px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  margin: 0;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
}

.heading-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* футер для двух страниц */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-maps {
  display: block;
  color: var(--primary-white-color);
}
.footer-maps:hover,
.footer-maps:focus {
  color: var(--accent-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.container-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
